
  @media (max-width: 650px) {

    header{
      background-attachment: initial;
      #headerContent{
        #btnContainer{
          flex-direction: column;
          a{
            font-size: 1rem;
            width: 50%;
          }
          align-items: center;
          .btn{
            margin-top: 10px;
          }
        }
      }
    }
    .hero{
      #Programs{
        height: 70vh;
        background-attachment: initial;
        text-align: center;
        h1{
          margin-top: 2rem;
        }
        .hero__container--btns{
  
          margin-bottom: 4rem;
        }
      }
      
    }
    #FinancialAid{
     height: 70vh;
     background-attachment: initial;
     text-align: center;
    }
    #Tour{
      align-items: center;
      justify-items: center;
      text-align: center;
    }
    #WhySU{
      .hero__items{
        flex-direction: column;
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 90%;
        margin-right: 50px;
      }
    }
    #testimonials {
      background-attachment: initial;
  
      .testimonials {
        grid-template-columns: 1fr;
        .testimonial{
          blockquote{
            text-align: center;
            margin-bottom: 10px;
          }
          .testimonialInfo{
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-items: center;
          }
        }
      }
      
    }
  
}

@media(max-width: 1200px) {
  #testimonials {
    background-attachment: initial;

    .testimonials {
      grid-template-columns: 1fr;
    }

    .testimonial {
      margin: 0;
      padding: 1rem;
      text-align: center;

      .testimonialInfo {
        display: flex;
        flex-direction: column;

        .imageContainer {
          margin-bottom: 1.5rem;
        }
      }
    }
  }
  #Programs{
    text-align: center;
  }
  #WhySU{
    .hero__items{
      flex-direction: column;
      align-items: center;
      justify-items: center;
      text-align: center;
      width: 90%;
      margin-right: 50px;
    }
  }
}